<% can_update_reply = can? :update, reply %>
<%= div_for(reply) do %>
  <div class="image">
    <%= link_to image_tag(reply.user.photo_url, width: 16), reply.user %>
  </div>
  <p class="post-title">
    <%= link_to reply.user.name, reply.user %>
    <i>replied <%= time_ago_in_words(reply.created_at) %> ago</i>
  </p>
  <table style="width:100%">
    <tr>
      <td>
      <%= best_in_place_if can_update_reply,
                           reply,
                           :text,
                           type: :textarea,
                           activator: "#edit_reply_#{reply.id}"
                           %>
      </td>
      <td width="7">
      </td>
    </tr>
  </table>
  <div class="actions reply_actions">
    <div class="group-left">
      <%= link_to icon_text('edit', 'edit this reply'),
                  '#',
                  id: "edit_reply_#{reply.id}" if can_update_reply
                  %>
      <%= link_to icon_text('trash', 'remove'),
                  reply,
                  remote: true,
                  method: :delete,
                  data: { confirm: 'Removing cannot be undone. Are you sure?'} if can_update_reply || can_update_post
                  %>
    </div>
    <div class="group-right">
      <%= link_to icon_text('thumbs-up', reply.likes.size),
                  like_reply_path(reply),
                  remote: true,
                  method: 'put',
                  class: 'btn likebutton tooltiped',
                  rel: 'tooltip',
                  title: 'like this?'
                  %>
    </div>
  </div>
  <div class="clear"></div>
<% end %>