<% can_update_reply = can? :update, reply %>
<%= div_for(reply) do %>
  <div class="image">
    <%= link_to image_tag(reply.user.photo_url, width: 16), reply.user %>
  </div>

  <div class="caret-down-holder">
    <%= link_to icon('caret-down'),
                '#',
                class: 'caret-down dropdown-toggle',
                data: {toggle: "dropdown"}
                %>

    <ul class="dropdown-menu reply_actions">

      <%= li link_to  icon_text('edit', 'edit this answer'),
                      '#',
                      id: "edit_reply_#{reply.id}" if can_update_reply
                      %>
      <%= li link_to  icon_text('trash', 'remove this answer'),
                      reply,
                      remote: true,
                      method: :delete,
                      data: { confirm: 'Removing cannot be undone. Are you sure?'} if can_update_reply || can_update_post
                      %>

    </ul>
  </div>

  <h5>
    <%= link_to reply.user.name, reply.user %>
    <i>replied <%= time_ago(reply.created_at) %></i>
  </h5>
  <table style="width:100%">
    <tr>
      <td>
      <%= best_in_place_if can_update_reply,
                           reply,
                           :text,
                           type: :textarea,
                           display_with: :simple_format,
                           activator: "#edit_reply_#{reply.id}"
                           %>
      </td>
      <td width="7">
      </td>
    </tr>
  </table>
<% end %>


<% if false %>
  <div class="actions reply_actions">
    <div class="group-left">
    </div>
    <div class="group-right">
    </div>
  </div>
  <div class="clear"></div>
      <%= link_to icon_text('thumbs-up', reply.likes.size),
                  like_reply_path(reply),
                  remote: true,
                  method: 'put',
                  class: 'btn likebutton tooltiped',
                  rel: 'tooltip',
                  title: 'like this?'
                  %>
<% end %>