<h1>Listing entity_advanced_settings</h1>

<table>
  <tr>
    <th>Lti consumer key</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @entity_advanced_settings.each do |entity_advanced_setting| %>
  <tr>
    <td><%= entity_advanced_setting.lti_consumer_key %></td>
    <td><%= link_to 'Show', entity_advanced_setting %></td>
    <td><%= link_to 'Edit', edit_entity_advanced_setting_path(entity_advanced_setting) %></td>
    <td><%= link_to 'Destroy', entity_advanced_setting, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Entity advanced setting', new_entity_entity_advanced_setting_path %>
