
<div id="main_div">

	<h2>Report Feedback or Bugs</h2>
		<hr/>
		
		
		
  <%= simple_form_for(@feedback, :html => {:class => 'form-horizontal' }) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@feedback.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @feedback.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <p>Thanks for helping us make the product better.  We recieve you information with the request and will contact your email when the issue is addressed.</p>
     <br />
	<%= f.input :type, :label => "Request Type", :collection => ["Bug","Feature Request","General Observation"], :selected => "Bug" %>
	<%= f.input :platform, :label => "Platform", :collection => ["Web","iPhone","iPad","Android Phone"], :selected => "Web" %>
    <br/>
    <%= f.input :feedback, :input_html => {:style => 'width: 900px'}%>
			
    <div class="actions">
    <%= f.submit "Finish Bug Report"%>
  </div>
<% end %>


	</div>

</div>