<p id="notice"><%= notice %></p>

<p>
  <b>Request Type:</b>
  <%= @feedback_bug.request_type %>
</p>

<p>
  <b>Platform:</b>
  <%= @feedback_bug.platform %>
</p>

<p>
  <b>Feedback:</b>
  <%= @feedback_bug.feedback %>
</p>


<%= link_to 'Back', feedback_bugs_path %>
