<div class="modal hide fade" id="follow_recs_modal">
  <div class="modal-header" style="padding-bottom:0px">
     <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    	<h3>Follow new people</h3>          
  </div>
  <div class="modal-body">
  <% @follows = current_user.user_follows %>
  <% follow_ids = @follows.map{|bar| bar.follow_id} %>
  <% follow_ids << current_user.id %>
      <% User.joins(:entity_users).where('users.id not in (:follow_ids) and entity_users.entity_id in (:entities)', :follow_ids => follow_ids, :entities => current_user.entity_users.map(&:entity_id)).uniq.order("RAND()").limit(20).each do |fb_friend| %>
      <div class="follow_rec row-fluid">
    <div class="span2" style="padding-top:5px;padding-bottom:5px">
        <a  href="/users/<%= fb_friend.id%>"><%= image_tag fb_friend.photo_url, width: 50 %></a>
    </div>
    <div class="span7">
    <h5><a  href="/users/<%= fb_friend.id%>"><%= fb_friend.name %></a></h5><p><%= fb_friend.tagline %></p>
    </div>
    <div class="span3" id="follow" style="padding-top:15px">
    <%= link_to follow_user_path(fb_friend),
                method: 'put',
                id: 'Follow',
                class: 'btn btn-success',
                :remote => true,
                data: {disable_with: "hold on..."} do
                %>
                <i class="icon-check" style="font-size:16px"></i>
                <span style="font-size:16px">Follow</span>
                <% end %>
  </div>
    </div>
      <% end %>
  </div>
  <div class="modal-footer">
    <%= link_to "Next", '#', class: 'btn btn-large btn-primary', data: {dismiss: "modal"} %>
  </div>
</div>
