<li class="dropdown">
<a  href="#"
    class="dropdown-toggle <%= current_user.messages.size.zero? ? 'inactive' : 'active' %>"
    data-toggle="dropdown">
    <i class="icon-envelope"></i>
    <% sql = "SELECT Messages.Id, Messages.Created_at, Messages.text, Messages.Message_Thread_Id, Users.name, Users.id, (SELECT Message_Read_States.Read_Date FROM Message_Read_States WHERE Message_Read_States.Message_Id = Messages.Id and Message_Read_States.User_Id = #{current_user.id}) AS ReadState FROM Messages INNER JOIN Users ON Messages.User_Id = Users.Id WHERE ( Messages.Id in ( SELECT Max(Messages.Id) FROM Thread_Participants INNER JOIN Messages ON Thread_Participants.Message_Thread_Id = Messages.Message_Thread_Id WHERE Thread_Participants.User_Id = #{current_user.id} GROUP BY Thread_Participants.Message_Thread_Id)) ORDER BY Messages.Created_at DESC;"
    @messages= ActiveRecord::Base.connection.execute(sql) %>
    <small><%= @messages.count %></small>
</a>
<ul class="dropdown-menu dropdown-notifications" style="width:400px">

  <li class="nav-header">unread messages       <%= link_to icon_text('envelope', 'Send a message'),
                    "#message_modal",
                    style: 'float:right;',
                    data: {toggle: 'modal'} %>
                    </li>
  <% @messages.each do |m | %>
  <li><a href="/messages/<%= m[3] %>"><div class="row-fluid"><div class="span2"><img src="<%= User.find(m[5]).photo_url %>" width=50 height=50/></div><div class="span10"><u><%= m[4] %></u><p><%= truncate(m[2], :length => 45) %></p></div></div></a><li>
  <% end %>

</ul>
</li>
