<h1>Listing topics</h1>

<table>
  <tr>
    <th>Entity</th>
    <th>Title</th>
    <th>Number</th>
    <th>Name</th>
    <th>Slug</th>
    <th>Self-Joining</th>
    <th>edit</th>
    <th></th>
  </tr>

<% @topics.each do |topic| %>
  <tr>
    <td><%= topic.entity.name %></td>
    <td><%= topic.title %></td>
    <td><%= topic.number %></td>
    <td><%= link_to topic.name, topic %></td>
    <td><%= topic.slug %></td>
    <td><%= 'yes' if topic.self_joining? %></td>
    <td><%= link_to 'Edit', edit_topic_path(topic) %></td>
    <td><%= link_to 'Destroy', topic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Topic', new_topic_path %>
