<% if can? :more_posts, @topic %>
  <% if @topic_user.present? %>
    <%= render '/posts/new_post', topic_user: @topic_user if @topic_user.present? %>
  <% else %>
  <h4>you cannot write posts in this topic yet, you need to join this topic in order to do so</h4>
  <% end %>
  <%= render '/posts/posts', posts: @posts %>
<% else %>
<h4>you cannot read posts in this topic yet, you need to join this topic in order to do so</h4>
<% end %>



<% content_for :pageheader do %>
<div class="page-header">
  <h3><%= @topic.name %></h3>
</div>
<% end %>

<% content_for :sidebar do %>

<% if @topic_user.nil? %>
  <%= link_to 'join this topic',
              join_topic_path(@topic),
              method: 'put',
              class: 'btn btn-large btn-success input-block-level',
              data: {disable_with: "hold on..."}
              %>
<% end %>

<div class="well blue-well">
  <ul class="nav nav-list">

    <li class="nav-header">
      <%= @topic.name %>
    </li>

    <li class="nav-header">
      students
    </li>
    <% @topic_users.each do |topic_user| %>
      <li>
        <% user = topic_user.user %>
        <%= link_to user do %>
          <%= image_tag user.photo_url, width: 30 %>
          <%= user.name %>
        <% end %>
      </li>
    <% end %>

    <% if @topic_user.present? %>
      <%#= link_to 'edit this topic', edit_topic_path(@topic) %>
      <li class="divider"></li>
      <li class="nav-header">
        actions
      </li>
      <%= li link_to  icon_text('signout', 'leave this topic'),
                      join_topic_path(@topic),
                      method: 'put',
                      class: 'roman-icon',
                      data: {disable_with: "hold on..."}
                      %>
    <% end %>
    <%= render '/topics_my_entities' %>
  </ul>
</div>
<% end %>