<p>
  <b>Section:</b>
  <%= @section_user.section %>
</p>

<p>
  <b>User:</b>
  <%= @section_user.user %>
</p>

<p>
  <b>B moderator:</b>
  <%= @section_user.role %>
</p>


<%= link_to 'Edit', edit_section_user_path(@section_user) %> |
<%= link_to 'Back', section_users_path %>
