<h1>Editing user</h1>

<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :photo_url %><br />
    <%= f.text_field :photo_url %>
  </div>
  
  <%= f.label :entity_id, "Current Schools", class: "control-label" %>
      <% @schools.each do |school| %>
      	<div id="schools" value="<%= school.id %>" class="schools"><%= school.entity.name %><select name="role_i" id="role_i">
  <option value="0">User</option>
  <option value="1">School Administrator</option>
</select><a href='/entity_users/<%= school.id %>' class='btn btn-mini'>x</a></div>
      <% end %>
  
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
