<%= render '/posts/posts', posts: @posts %>

<div data-sidebar="left" class="sidebar_content">
  <div style="padding:0 0 20px 20px;">

    <center><%= image_tag @user.photo_url('large') %></center>
    
  </div>

  <ul class="nav blue-nav nav-list">
    <li class="nav-header">
      <%= @user.name %>
    </li>
    <%= li link_to  icon_text('facebook-sign', 'facebook profile'),
                    @user.fb_url,
                    target: '_blank' %>
    
    <% if current_user.master? %>
      <li class="nav-header">master</li>
      <%= li link_to  icon_text('user', 'log in as'),
                      session_switch_path(user_id: @user),
                      method: 'put',
                      data: {disable_with: "hold on..."}
                      %>
      <%= li @user.access_token, style: 'font-size:9px;' %>
    <% end %>
  </ul>
</div>