<%# length forces select * instead of counts, for the list is needed in this request %>
<% if current_user.topic_users.length.zero? %>
<h4>content for when you have not joined any topics</h4>
<% else %>
<%= render '/posts/new_post', topic_user: nil %>
<% end %>
<%= render '/posts/posts', posts: @posts, title: "My Mesh" %>

<% content_for :pageheader do %>
<div class="page-header">
  <h3>Home#client</h3>
</div>
<% end %>

<% content_for :sidebar do %>
<%= render '/home/feedback' if (current_user.posts.size+current_user.replies.size) > 2 %>

<div class="well blue-well">
  <ul class="nav nav-list">
    <li class="nav-header">
      mobile
    </li>
    <%= li link_to(icon_text('eye-close', "Sign Out All My Mobile Devices"),
                   home_change_access_token_path,
                   remote: true,
                   method: :post,
                   onclick: "$(this).find('span').html('All mobiles require login again!')")
                   %>

    <li class="nav-header">
      my topics
    </li>
    <% current_user.topic_users.each do |topic_user| %>
      <% topic = topic_user.topic %>
      <%= li link_to(icon_text('book', topic.name), topic) %>
    <% end %>
    <%= render '/topics_my_entities' %>
  </ul>
</div>

<% end %>