<%# length forces select * instead of counts, for the list is needed in this request %>
<% if current_user.topic_users.length.zero? %>
<h4 class="message">content for when you have not joined any topics</h4>
<% else %>
<%= render '/posts/new_post', topic_user: nil %>
<% end %>
<%= render '/posts/posts', posts: @posts, title: "My Mesh" %>

<div data-sidebar="left" class="sidebar_content">
  <ul class="nav blue-nav nav-list">

    <li class="nav-header">
      my topics
    </li>
    <% current_user.topic_users.each do |topic_user| %>
      <% topic = topic_user.topic %>
        <%= li link_to(icon_text('book', truncate(topic.name, length: 28)), topic, class: 'tooltiped', title: topic.name) %>
    <% end %>
  </ul>
</div>
<div data-sidebar="right" class="sidebar_content">
  <%= render '/home/feedback' if (current_user.posts.size+current_user.replies.size) > 2 %>
  <%= render '/topics/new_topic' %>
</div>