<section>
  <%= form_for Post.new, url: home_index_path(format: 'js'), remote: true do |f| %>
    <div class="head">
      <h1>Question or comment</h1>
      <%= select_tag :section_user_id,
                 options_for_select(
                 current_user.section_users.includes(:section).map { |su| [su.section.name[0..300], su.id]}),
                 include_blank: "post to a course" %>
    </div>
    <div class="fields in10">
      <%= f.text_area :text %>
      <%= f.submit nil, class: "btn btn-success btn-large" %>
      <div class="clear"></div>
    </div>
  <% end %>
</section>

<script type="text/javascript">
$(function() {
  
  $("#new_post textarea").live("focus blur", function(e) {
    if (e.type=="focusin") {
      $(this).switchClass("", "long", 'fast');
    }
  });
  
  $("#new_post").live("ajax:beforeSend", function(e) {
    if ($(this).find('textarea').val().length < 10) {
      alert('a reasonable question should have at least 10 letters');
      $(this).find('textarea').focus();
      return false;
    }
    if (! $(this).find('#section_user_id').val()) {
      alert('pick a course to public your question');
      $(this).find('#section_user_id').click();
      return false;
    }
  });

});
</script>

<%= render '/posts/posts', posts: current_user.posts_feed %>

<% content_for :pageheader do %>
<div class="page-header">
  <h2>Home#student</h2>
</div>
<% end %>

<% content_for :sidebar do %>
<section>
  <h2>My Sections</h2>
  <div>
    <ul>
      <% current_user.section_users.each do |section_user| %>
        <% section = section_user.section %>
        <li><%= link_to section.course.name, section, title: section.name, rel: 'tooltip', class: 'roman-icon' %></li>
      <% end %>
    </ul>
  </div>
</section>

<section>
  <h2>All Sections</h2>
  <div>
    <ul>
      <% Section.all.each do |section| %>
        <li><%= link_to section.course.name, section, title: section.name, rel: 'tooltip', class: 'roman-icon' %></li>
      <% end %>
    </ul>
  </div>
</section>
<% end %>