<p id="notice"><%= notice %></p>
<table>
  <tr>
    <th>section</th>
    <th>actions</th>
    <th>users</th>
    <th>posts</th>
  </tr>
  <tr>
    <td>
      <p>
        <b>Course:</b>
        <%= @section.course %>
      </p>

      <p>
        <b>School:</b>
        <%= @section.school %>
      </p>

      <p>
        <b>Name:</b>
        <%= @section.name %>
      </p>

      <p>
        <b>Slug:</b>
        <%= @section.slug %>
      </p>
    </td>
    <td>
      <%= link_to (@section_user.present? ? 'leave this section' : 'join this section'),
                  join_section_path(@section),
                  method: 'put'
                  %>
      |
      <%= link_to 'Edit', edit_section_path(@section) %> |
      <%= link_to 'Back', sections_path %>
    </td>
    <td>
      <ul>
        <li>
          <% @section_users.each do |section_user| %>
            <% section_user.user do |user| %>
              <%= link_to @user do %>
                <%= image_tag @user.photo_url %>
                <%= @user.name %>
              <% end %>
            <% end %>
          <% end %>
        </li>
      </ul>
    </td>
    <td>

      <%= form_for(@post, url: posts_section_path(@section)) do |f| %>
        <% if @post.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

            <ul>
            <% @post.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="field">
          <%= f.label :text %><br />
          <%= f.text_area :text %>
        </div>
        <div class="actions">
          <%= f.submit %>
        </div>
      <% end %>

      <hr>

      <table>
      <% @posts.each do |post| %>
        <tr>
          <td><%= link_to post.user.name, post.user %></td>
          <td><%= post.text %></td>
          <td><%= link_to 'Show', post %></td>
          <td><%= link_to 'Edit', edit_post_path(post) %></td>
          <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
      </table>

    </td>
  </tr>
</table>