<h1><%= @section.name %></h1>


<div class="main_feed clearfix">
  <% if can? :create_post, @section %>
    <%= form_for(@post, url: posts_section_path(@section)) do |f| %>
      <% if @post.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

          <ul>
          <% @post.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= f.text_area :text %>
      </div>
      <div class="actions">
        <%= f.submit nil, data: { disable_with: "Please wait..." } %>
      </div>
    <% end %>
  <% end %>

  
  <div class="feed">
    <div class="head">
      <h1>News Feed</h1>
      <button>Viewing: All</button>
    </div>
    <% if @posts.any? %>
      <%= render @posts %>
    <% end %>
  </div>
</div>


<% content_for :sidebar do %>

<div class="section">
  <div class="head">
    <h1>About</h1>
  </div>
  <div class="inner">
    <ul>
      <li>
        <%= link_to @section.school, class: 'roman-icon' do %>
          <b>School:</b>
          <%= @section.school.name %>
        <% end %>
      </li>
      <li>
        <%= link_to @section.course, class: 'roman-icon' do %>
          <b>Course:</b>
          <%= @section.course.name %>
        <% end %>
      </li>
      <li>
        <a href="#" class="roman-icon"><b>Teacher:</b></a>
      </li>
    </ul>
  </div>
</div>

<div class="section">
  <div class="head">
    <h1>Actions</h1>
  </div>
  <div class="inner">
    <ul>
      <li>
        <%= link_to 'edit this section', edit_section_path(@section), class: 'roman-icon' %>
      </li>
      <li>
        <%= link_to (@section_user.present? ? 'leave this section' : 'join this section'),
                    join_section_path(@section),
                    method: 'put',
                    class: 'roman-icon'
                    %>
      </li>
    </ul>
  </div>
</div>

<div class="section">
  <div class="head">
    <h1>Users</h1>
  </div>
  <div class="inner">
    <ul>
      <% @section_users.each do |section_user| %>
        <li>
          <% user = section_user.user %>
          <%= link_to user do %>
            <%= image_tag user.photo_url, width: 25 %>
            <%= user.name %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
<% end %>



<script type="text/javascript">
$(function() {
  $('a[data-method=delete]').live("ajax:beforeSend", function() {
    $(this).closest('tr').hide('slow')
  });
});
</script>