
<%= render '/posts/posts', posts: @posts, title: "News Feed" %>



<% content_for :pageheader do %>
<div class="page-header">
  <h3><%= @section.name %></h3>
</div>
<% end %>

<% content_for :sidebar do %>

<% if @section_user.nil? %>
<section class="block">
  <%= link_to 'join this section',
              join_section_path(@section),
              method: 'put',
              class: 'btn btn-large btn-success',
              data: {disable_with: "hold on..."}
              %>
</section>
<% end %>

<section>
  <h2>About</h2>
  <div>
    <ul>
      <li>
        <%= link_to @section.school, class: 'roman-icon' do %>
          <b>School:</b>
          <%= @section.school.name %>
        <% end %>
      </li>
      <li>
        <%= link_to @section.course, class: 'roman-icon' do %>
          <b>Course:</b>
          <%= @section.course.name %>
        <% end %>
      </li>
      <li>
        <a href="#" class="roman-icon"><b>Teacher:</b></a>
      </li>
    </ul>
  </div>
</section>

<section>
  <h2>Actions</h2>
  <div>
    <ul>
      <li>
        <%= link_to 'edit this section', edit_section_path(@section), class: 'roman-icon' %>
      </li>
      <% if @section_user.present? %>
      <li>
        <%= link_to 'leave this section',
                    join_section_path(@section),
                    method: 'put',
                    class: 'roman-icon',
                    data: {disable_with: "hold on..."}
                    %>
      </li>
      <% end %>
    </ul>
  </div>
</section>

<section>
  <h2>Users</h2>
  <div>
    <ul>
      <% @section_users.each do |section_user| %>
        <li>
          <% user = section_user.user %>
          <%= link_to user do %>
            <div class="image"><%= image_tag user.photo_url, width: 30 %></div>
            <%= user.name %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</section>
<% end %>