<p id="notice"><%= notice %></p>

<p>
  <b>Course:</b>
  <%= @section.course %>
</p>

<p>
  <b>School:</b>
  <%= @section.school %>
</p>

<p>
  <b>Name:</b>
  <%= @section.name %>
</p>

<p>
  <b>Slug:</b>
  <%= @section.slug %>
</p>


<%= link_to 'Edit', edit_section_path(@section) %> |
<%= link_to 'Back', sections_path %>
