<%= simple_form_for(@admin_campaign) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :kind %>
    <%= f.input :element_id %>
    <%= f.input :value %>
    <%= f.input :historic %>
    <%= f.association :newsletter %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
