<h2>Campaigns (Not finished yet)</h2>

<table style="text-align:center;">
  <tr>
    <th>Newsletter</th>
    <th>Group</th>
    <th>Emails sent</th>
    
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @admin_campaigns.each do |admin_campaign| %>
  <tr>
    <td><%= admin_campaign.newsletter.title %></td>
    <td><%= admin_campaign.kind %></td>
    <td><%= rand(79..432)  %></td>
    <td><%= link_to raw('<i class="icon-road icon-white"></i>'), admin_campaign, :alt=>'View Details', :title=>'View Details' %></td>
    <td><%= link_to raw('<i class="icon-tablet icon-white"></i>'), edit_admin_campaign_path(admin_campaign), :alt=>'Edit Campaign', :title=>'Edit Campaign' %></td>
    <td><%= link_to raw('<i class="icon-trash icon-white"></i>'), admin_campaign, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger' %></td>
  </tr>
<% end %>
</table>

<br />
