<%= simple_form_for(@post_hashtag) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :post_id %>
    <%= f.input :hashtag_id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
