<%= form_for(@topic_user) do |f| %>
  <% if @topic_user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@topic_user.errors.count, "error") %> prohibited this topic_user from being saved:</h2>

      <ul>
      <% @topic_user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :topic %><br />
    <%= f.text_field :topic_id %>
  </div>
  <div class="field">
    <%= f.label :user %><br />
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :role %><br />
    <%= f.text_field :role %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
