<div class="well" id="new_post_well">
  <%= form_for Post.new, url: home_create_post_path(format: 'js'), remote: true do |f| %>
    <% if topic_user.present? %>
    <%= hidden_field_tag :topic_user_id, topic_user.id %>
    <% else %>
    <%= select_tag :topic_user_id,
               options_for_select(
               current_user.topic_users.includes(:topic).map { |tu| [tu.topic.name, tu.id]}),
               prompt: "Select a Course" %>
    <% end %>
    <ul class="nav nav-list">
      <li class="nav-header">
        Question or comment
      </li>
      <li>
        <%= f.text_area :text, class: 'input-block-level' %>
        <%= f.submit nil, class: "btn btn-success btn-large float-right clear" %>
        <div class="clear"></div>
      </li>
    </ul>
  <% end %>
</div>