<% can_update_post = can? :update, post %>
<% if post.user_liked?(current_user) %>
  <% pushpin_state = 'pushpin_on' %>
  <% pushpin_title = 'Unpin' %>
<% else %>
  <% pushpin_state = 'pushpin_off' %>
  <% pushpin_title = 'Pin' %>
<% end %>

<%= div_for(post, class: pushpin_state, data: {id: post.id}) do %>


  <div class="post_left">
    <div class="image">
      <%= link_to image_tag(post.user.photo_url('large'), width: 64), post.user %>
    </div>
  </div>



  <div class="post_right">



    <%= link_to icon('pushpin'),
                '#',
                class: "pushpin",
                title: pushpin_title
                %>



    <div class="caret-down-holder">
      <%= link_to icon('caret-down'),
                  '#',
                  class: 'caret-down dropdown-toggle',
                  data: {toggle: "dropdown"}
                  %>

      <ul class="dropdown-menu">

        <%= li link_to  icon_text('external-link', 'view this in a full page'),
                        post,
                        target: '_blank' unless request.url == post_url(post).to_s
                        %>
        <li class="divider"></li>

        <% if can_update_post %>
        <%= li  link_to icon_text('edit', 'edit this post'),
                        post,
                        id: "edit_post_#{post.id}"
                        %>
        <%= li  link_to icon_text('trash', 'remove this post'),
                        post,
                        remote: true,
                        method: :delete,
                        data: { confirm: 'Removing a post cannot be undone. Are you sure?' }
                        %>
        <li class="divider"></li>
        <% end %>

        <%= li  link_to icon_text('signout', 'leave this topic'),
                        leave_topic_path(post.topic),
                        method: :put,
                        data: { confirm: 'You will not see posts from this topic anymore. Are you sure?' }
                        %>
      </ul>
    </div>

    <ul class="pins">
    <% post.likes.order('created_at desc').limit(5).map(&:user).each do |u| %>
      <%= li link_to  image_tag(u.photo_url, width: 20),
                      u,
                      title: u.name,
                      data: {id: u.id}
                      %>
    <% end %>
      <%= li link_to post.likes.size,
                     '#',
                     class: 'count',
                     title: "#{post.likes.size} people pinned this post" #unless post.likes.size.zero?
                     %>
    </ul>



  </div>







  <h5>
    <span><%= link_to post.user.name, post.user %></span>
    <i>asked</i>
    <span><%= link_to truncate(post.topic.name, length: 40), post.topic %></span>
  </h5>
  <table style="width:100%">
    <tr>
      <td>
        <%= best_in_place_if can_update_post,
                             post,
                             :text,
                             type: :textarea,
                             activator: "#edit_post_#{post.id}"
                             %>
        
      </td>
      <td width="7">
      </td>
    </tr>
  </table>

  <div class="post-info">
    <span class="time"><%= time_ago(post.created_at) %></span>
    <div class="clear"></div>
  </div>


  <div>
    <% post.post_attachments.each do |pa| %>
      <% if pa.file? %>
        <%= link_to icon_text('paper-clip',
                              "#{pa.file.original_filename} (#{pa.subtype}, *.#{pa.file.original_filename.split('.').last})"
                    ),
                    pa.file.url,
                    target: '_blank',
                    style: 'display:block;margin-bottom: 10px;'
                    %>
      <% end %>
    <% end %>
  </div>



  <div class="replies">
    <%= render post.replies, can_update_post: can_update_post %>
  </div>








  <% if can? :create_reply, post %>
    <div class="post-info">
      <%= link_to icon_text('circle-arrow-down', 'create an answer'),
                  '#',
                  class: 'show_reply_form'
                  %>
      <div class="clear"></div>
    </div>
    <%= form_for(post.replies.build, url: replies_post_path(post), remote: true, html: {id: "new_reply_#{post.id}"}) do |f| %>
      <%= image_tag current_user.photo_url, width: 50 %>
      <p><%= f.text_area :text %></p>
    <% end %>
  <% end %>

<% end %>