<% can_update_post = can? :update, post %>
<div class="post">
  <div class="image">
    <%= link_to image_tag(post.user.photo_url, width: 64), post.user %>
  </div>
  <div>
    <em>
      <%= time_ago_in_words(post.created_at) %> ago
      <%= link_to 'single page <i class="icon-external-link"></i>'.html_safe,
                  post,
                  target: '_blank' unless request.url == post_url(post).to_s
                  %>
    </em>
    <h3 class="post-title">
      <%= link_to post.user.name, post.user %>
      <i>posted on <%= link_to post.topic.name, post.topic %></i>
    </h3>
    <table style="width:100%">
      <tr>
        <td>
          <%= best_in_place_if can_update_post,
                               post,
                               :text,
                               type: :textarea,
                               activator: "#edit_post_#{post.id}"
                               %>
        </td>
        <td width="7">
        </td>
      </tr>
    </table>
    <div class="actions post_actions">
      <div class="group-left">
        <%= link_to '<i class="icon-edit"></i> <i>edit this post</i>'.html_safe,
                    post,
                    id: "edit_post_#{post.id}" if can_update_post
                    %>
        <%= link_to '<i class="icon-trash"></i> <i>remove</i>'.html_safe,
                    post,
                    remote: true,
                    method: :delete,
                    data: { confirm: 'Removing a post cannot be undone. Are you sure?' } if can_update_post
                    %>
      </div>
      <div class="group-right">
        <%= link_to "<i class='icon-thumbs-up'></i> <span>#{post.likes.size}</span>".html_safe,
                    like_post_path(post),
                    remote: true,
                    method: 'put',
                    class: 'btn likebutton tooltiped',
                    title: 'like this?'
                    %>
        <%= link_to "<i class='icon-comment-alt'></i> <span>#{post.replies.size}</span>".html_safe,
                    "#",
                    class: 'btn replybutton tooltiped',
                    title: 'reply to this post!',
                    data: { scroll_to_reply: "#new_reply_#{post.id}" } if can? :create_reply, post
                    %>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <% unless post.replies.size.zero? %>
  <div class="replies">
    <%= render post.replies, can_update_post: can_update_post %>
  </div>
  <% end %>
  <% if can? :create_reply, post %>
  <%= form_for(post.replies.build, url: replies_post_path(post), remote: true, html: {id: "new_reply_#{post.id}"}) do |f| %>
    <%= f.text_area :text %>
  <% end %>
  <% end %>
</div>