<div class="item clearfix">
  <div class="image">
    <%= link_to image_tag(post.user.photo_url, width: 64), post.user %>
  </div>
  <div class="section">
    <a href="#"><%= link_to post.user.name, post.user %></a> - <i><%= post.text %></i>
  </div>
  <div class="actions">
    <%= link_to 'D', post, remote: true, method: :delete, data: { confirm: 'Are you sure?' }, style: 'background: none' %>
    <%= link_to 'E', edit_post_path(post), style: 'background: none' %>
    <%= link_to 'S', post, style: 'background: none' %>
    <a href="#" class="checkmark"></a>        
    <a href="#" class="comment_button"></a>
    <div class="number">
      4
    </div>
    <a href="#" class="brain"></a>        
  </div>
  <div class="date">
    <%= time_ago_in_words(post.created_at) %>
  </div>
</div>