<% can_update_post = can? :update, post %>
<div class="post">
  <div class="image">
    <%= link_to image_tag(post.user.photo_url, width: 64), post.user %>
  </div>
  <div>
    <div class="top-actions">
        <div class="btn-group">

          <%= link_to icon_text('thumbs-up', post.likes.size),
                      like_post_path(post),
                      remote: true,
                      method: 'put',
                      class: 'btn likebutton tooltiped',
                      title: 'like this?'
                      %>
          <%= link_to icon_text('comment-alt', post.replies.size),
                      "#",
                      class: 'btn replybutton tooltiped',
                      title: 'reply to this post!',
                      data: { scroll_to_reply: "#new_reply_#{post.id}" } if can? :create_reply, post
                      %>

          <button class="btn dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">

            <%= li link_to  icon_text('thumbs-up', "like this (#{post.likes.size})"),
                            like_post_path(post),
                            remote: true,
                            method: 'put',
                            class: 'likebutton'
                            %>
            <%= li link_to  icon_text('comment-alt', "reply (#{post.replies.size})"),
                            "#",
                            class: 'replybutton',
                            data: { scroll_to_reply: "#new_reply_#{post.id}" } if can? :create_reply, post
                            %>
            <li class="divider"></li>

            <% if can_update_post %>
            <%= li  link_to icon_text('edit', 'edit this post'),
                            post,
                            id: "edit_post_#{post.id}"
                            %>
            <%= li  link_to icon_text('trash', 'remove this post'),
                            post,
                            remote: true,
                            method: :delete,
                            data: { confirm: 'Removing a post cannot be undone. Are you sure?' }
                            %>
            <li class="divider"></li>
            <% end %>

            <%= li link_to  icon_text('external-link', 'view this in a full page'),
                            post,
                            target: '_blank' unless request.url == post_url(post).to_s
                            %>
            <%= li  link_to icon_text('signout', 'leave this topic'),
                            leave_topic_path(post.topic),
                            method: :put,
                            data: { confirm: 'You will not see posts from this topic anymore. Are you sure?' }
                            %>
            <%= li link_to icon_text('signout', 'cancel'), 'javascript: void(0);' %>

          </ul>
        </div>
    </div>


    <h3 class="post-title">
      <%= link_to post.user.name, post.user %>
      <i>posted on <%= link_to post.topic.name, post.topic %></i>
      <small><%= time_ago_in_words(post.created_at) %> ago</small>
    </h3>
    <table style="width:100%">
      <tr>
        <td>
          <%= best_in_place_if can_update_post,
                               post,
                               :text,
                               type: :textarea,
                               activator: "#edit_post_#{post.id}"
                               %>
        </td>
        <td width="7">
        </td>
      </tr>
    </table>
    <div class="actions post_actions">
      <div class="group-left">
      </div>
      <div class="group-right">
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div class="replies">
    <%= render post.replies, can_update_post: can_update_post %>
  </div>
  <% if can? :create_reply, post %>
  <%= form_for(post.replies.build, url: replies_post_path(post), remote: true, html: {id: "new_reply_#{post.id}"}) do |f| %>
    <%= f.text_area :text %>
  <% end %>
  <% end %>
</div>