
<%= javascript_include_tag "tinymce-release/tinymce.min" %>

<script type="text/javascript">
tinymce.init({
    selector: "textarea",
    theme: "modern",
    plugins: [
        "advlist autolink lists link image charmap print preview hr anchor pagebreak",
        "searchreplace wordcount visualblocks visualchars code fullscreen",
        "insertdatetime media nonbreaking save table contextmenu directionality",
        "emoticons template paste textcolor"
    ],
    toolbar1: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image",
    toolbar2: "print preview media | forecolor backcolor emoticons",
    image_advtab: true,
    templates: [
        {title: 'Test template 1', content: 'Test 1'},
        {title: 'Test template 2', content: 'Test 2'}
    ]
});
</script>

<%= simple_form_for(@admin_newsletter) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= label_tag(:title, "Title") %>
    <%= f.text_field :title, :class => "input-xxlarge" %>
    <%
      options =  {:label => false}

      options[:input_html] = { :value => "<h3>First Subject</h3><p>This is newsletter initial value.</p>" } if current_page?(:action => 'new')
      
    %>
    <%= f.input :htmlemail, options %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>




