
<%= @data.inspect %>

<%= simple_form_for(@admin_campaign) do |f| %>
  <%= f.error_notification %>

<input type="hidden" name="admin_campaign[kind]" value="<%= @kind %>">
<input type="hidden" name="admin_campaign[newsletter_id]"  value="<%= @newsletter_id %>">

<div class="form-inputs">

<% if @kind == 'group' %>
    <%=  content_tag :h2, 'Groups'  %>
    <% @data.each do | d | %>
       <input type="checkbox"  name="admin_campaign[element_id]" value="<%= d.id  %>"><%= d.name  %> <br />
    <% end %>
    
<% end %>

<% if @kind == 'class' %>
    <%=  content_tag :h2, 'Class Rooms'  %>
    <% @data.each do | d | %>
       <input type="checkbox"  name="admin_campaign[element_id]" value="<%= d.id  %>"><%= d.name  %> <br />
    <% end %>
    
<% end %>

<% if @kind == 'user' %>
    <%=  content_tag :h2, 'Users'  %>

    <% @data.each do | d | %>
       <input type="checkbox" name="admin_campaign[element_id]" value="<%= d[:id]  %>"> <%= d[:name]  %><br />
    <% end %>
<% end %>
  
   <br />
 </div> <!-- form inputs -->
   <div class="form-actions">
    <input class="btn" name="commit" type="submit" value="Create Campaign">
  </div>

</form>
<% end %>
