

<form action="<%= admin_campaigns_path %>" method="post">
<%= csrf_meta_tags %>
<input type="hidden" name="kind" value="<%= @group %>">
<input type="hidden" name="newsletter_id" value="<%= @newsletter_id %>">

<% if @group == 'college' %>

    <%=  content_tag :h2, 'Colleges'  %>
    
    <% @data.each do | d | %>
       <input type="checkbox" name="element_id" value="<%= d.id  %>"><%= d.name  %> <br />
    <% end %>
<% end %>


<% if @group == 'group' %>

    <%=  content_tag :h2, 'Groups'  %>

    <% @data.each do | d | %>
       <input type="checkbox"  name="element_id" value="<%= d.id  %>"><%= d.name  %> <br />
    <% end %>
    
<% end %>

<% if @group == 'user' %>
    <%=  content_tag :h2, 'Users'  %>

    <% @data.each do | d | %>
       <input type="checkbox" name="element_id" value="<%= d[:id]  %>"> <%= d[:name]  %><br />
    <% end %>
<% end %>
  

   <div style="margin:5px;"><input type="submit" value="save"></div>
</form>

