<h1 style="margin:5px;paddibng:7px;">Email Manager</h1>

<table style="border:2px solid gray;margin:18px auto;text-align:left;padding:6px;background-color:#fff;">
  <tr>
    <th>Title</th>
    <th>Status</th>
    <th>Preview</th>
    <th>Test</th>
    <th>Select group</th>
    <th>Statics</th>
    <th></th>
    <th></th>
  </tr>
<% @admin_newsletters.each do |admin_newsletter| %>
  <tr style="border:1px dotted gray;margin:18px auto;text-align:left;">
    <td><%= admin_newsletter.title %></td>
    <td>Never Sent</td>
    <td><%= link_to image_tag('icon-preview.png', :title=>'Preview', :alt=>'Preview'), admin_newsletter %></td>
    <td><%= link_to image_tag('icon-send.png', :title=>'Send me a test', :alt=>'Send me a test'), test_admin_newsletters_path(admin_newsletter) %></td>
    <td><%= link_to image_tag('icon-mail.png', :title=>'Select', :alt=>'Select'),  ns_select_admin_newsletters_path(admin_newsletter) %></td>
    <td><%= link_to image_tag('icon-files.png', :title=>'Statics', :alt=>'Statics'),  statics_admin_newsletters_path(admin_newsletter) %></td>
    <td><%= link_to image_tag('icon-edit.png', :title=>'Edit', :alt=>'Edit'), edit_admin_newsletter_path(admin_newsletter) %></td>
    <td><%= link_to image_tag('icon-remove.png', :title=>'Remove', :alt=>'Remove'), admin_newsletter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to image_tag('icon-add.png', :title=>'Add newsletter', :alt=>'Add newsletter'), new_admin_newsletter_path %>
