
<div style="padding:10px;margin:6px;background-color:#fff;border: 2px solid gray;">

<div style="padding:10px;margin:6px;background-color:#fff;border: 2px solid gray;float:right;">
    <%= image_tag('campaign.jpg', :title => 'Campaign', :alt => 'Campaign') %>
</div>

<div><%= link_to image_tag('icon-back.png', :title=>'Go back', :alt=>'Go back'), admin_newsletters_path %></div>

<h3 style="border-bottom:1px dotted gray;">Email: <br />
  <%= @admin_newsletter.title %>
</h3>

<div>
Requirements:<br />
<p>A specific school (all user classes)<br />
 A pecific class at a specific school <br />
 A pecific user class(faculty/admin/student) at a specific school <br />
A student group/organization<br />
</p>


<div style="padding:8px;background-color:#fff;margin:8px;border:1px dotted gray;" id='divcbxs'>
    <div>Select elements that you want to send email:</div>

<%= simple_form_for(@admin_newsletter,  :url => url_for(:action => 'groups', :controller => 'newsletters'), :html => { :method => :post, :onsubmit => 'return checkCB();' } )   do |f| %>
  
  <input type="hidden" name="admin_campaign[newsletter_id]"  value="<%= @newsletter_id %>">
  <input type="checkbox" id="selectall" name="admin_campaign[all]" value="all" class="selectedId">Select all <br />

    <% @entities.each do | d | %>
       <input type="checkbox"  name="admin_campaign[element_id]" value="<%= d.id  %>" class="selectedId"><%= d.name  %> <br />
    <% end %>

    <div class="form-actions">
        <input class="btn" name="commit" type="submit" value="Second Step &gt;&gt;">
    </div>

</form>
<% end %>

<div id="groups"></div>
</div>
</div>

<script type="text/javascript">

$(document).ready(function () {
    $('#selectall').click(function () {
        $('.selectedId').prop('checked', isChecked('selectall'));
    });
});
    
function isChecked(checkboxId) {
    var id = '#' + checkboxId;
    return $(id).is(":checked");
}

function resetSelectAll() {
    // if all checkboxes are selected, check the selectall CB
    // and of course viceversa
    if ($(".selectedId").length == $(".selectedId:checked").length) {
        $("#selectall").attr("checked", "checked");
    } else {
        $("#selectall").removeAttr("checked");
    }

    if ($(".selectedId:checked").length > 0) {
        $('#edit').attr("disabled", false);
    } else {
        $('#edit').attr("disabled", true);
    }
}

function checkCB() {
         
         if ( $(".selectedId:checked").length < 1)
         {
            alert('Choose at least one college');
            return false;
         }
    return true;
}

</script>


