
<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @admin_newsletter.title %>
</p>

<p>
  <b>Htmlemail:</b>
  <%= @admin_newsletter.htmlemail %> 
</p>

<p>
  <b>Status:</b>
  <%= @admin_newsletter.status %>
</p>


<%= link_to image_tag('icon-edit.png', :title=>'Edit', :alt=>'Edit'), edit_admin_newsletter_path(@admin_newsletter) %> |

<%= link_to image_tag('icon-back.png', :title=>'Go back', :alt=>'Go back'), admin_newsletters_path %>
