<footer>
<div class="container">
  <%= link_to 'Privacy', :privacy %>
  <%= link_to 'About', :about %>
  <%= link_to 'FAQ', :faq %>
  <%= link_to 'Support', :support %>
  <%= link_to 'Terms of Service', :terms%>
  
  <span class="info">Copyright &copy; 2012-2013 Minds Mesh, Inc.</span>
</div>
</footer>
<%= google_analytics %>
<%= crazy_egg %>