<li class="dropdown">
  <a href="#"
      id="myaccount"
      class="dropdown-toggle"
      data-toggle="dropdown">
      <div class="circle"><%= image_tag current_user.photo_url, width: 25 %></div>
      <%=  text_icon('My Account', 'caret-down') %>
  </a>
  <ul class="dropdown-menu">
    <% if session[:master_id] %>
      <%= li link_to  icon_text('user', 'back to self'),
                      session_switch_path,
                      method: 'put',
                      data: {disable_with: "hold on..."}
                      %>
      <li class="divider"></li>
    <% end %>
    <%= li link_to icon_text('user', "Go to my profile page"), current_user %>
    <li class="divider"></li>
    <%= li link_to icon_text('envelope', "invite friends"), '#fb_friends_modal', data: {toggle: 'modal'} if my_fb_friends_i_should_invite.any? %>
    <%= li link_to icon_text('signout', "Sign Out"), session_logout_path, id: 'sign_out' %>
  </ul>
</li>