<!DOCTYPE html>
<html>
<head>
  <title>Lyrne.com - Collaborate with your classmates</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>


  <div class="wrap clearfix">
    <header>
      <a href="/" title="Logo">
        <%= image_tag 'template1/logo.png' %>
      </a>
      <div class="menu">
        <% if current_user %>
        <%= link_to "Home User",      home_user_path      if current_user.user? %>
        <%= link_to "Home Student",   home_student_path   if current_user.student? %>
        <%= link_to "Home Moderator", home_moderator_path if current_user.moderator? %>
        <%= link_to "Home Teacher",   home_teacher_path   if current_user.teacher? %>
        <%= link_to "Home Admin",     home_admin_path     if current_user.admin? %>
        <%= link_to "Home Master",    home_master_path    if current_user.master? %>
        <% end %>
        <% if current_user %>
        <div class="user">
          <div class="image">
            <%= image_tag current_user.photo_url, width: 50 %>
          </div>
          <%= current_user.name %>
          <ul>
            <li>My profile</li>
            <li><%= link_to "Log out", session_logout_path %></li>
          </ul>
        </div>
        <% end %>
      </div>
    </header>

    <%= "<div class='alert alert-success'><a class='close' data-dismiss='alert' href='#'>×</a><b>#{notice}</b></div>".html_safe if notice %>
    <%= "<div class='alert alert-error'><a class='close' data-dismiss='alert' href='#'>×</a><b>#{alert}</b></div>".html_safe   if alert %>

    <%= yield %>
      
    <div class="sidebar">
      <section class="search">
        <input type="text" name="search" />
      </section>
      <%= yield(:sidebar) %>
    </div>

  </div>

</body>
</html>