<!DOCTYPE html>
<html>
<head>
  <title>MindsMesh.com - Collaborate with your classmates</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag '/favicon.ico' %>

  <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body class="header_small">

  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">

        <% if current_user %>
        <ul class="nav">
          <li><a id="logo" href="/"><%= image_tag('template2/header_small.png') %></a></li>
          <%= render '/notifications/dropdown' %>
        </ul>
        <% end %>

        <ul class="nav pull-right">
          <% if current_user %>
            <%= li link_to(icon_text('group', "Join UNCC"), home_user_path) if current_user.entity_users.size<2 %>
          <% end %>
          <li><a href="/"><i class="icon-home"></i> Home</a></li>
          <%= render '/my_account_dropdown' if current_user %>
        </ul>

      </div>
    </div>
  </div>

  <div class="container">
    
    <%= "<div class='alert alert-success'><a class='close' data-dismiss='alert' href='#'>×</a><b>#{notice}</b></div>".html_safe if notice %>
    <%= "<div class='alert alert-error'><a class='close' data-dismiss='alert' href='#'>×</a><b>#{alert}</b></div>".html_safe   if alert %>

    <table id="tablecontent">
      <tr>
        <td id="main">
          <%= yield %>
        </td>
      </tr>
    </table>

    <%= render '/footer' %>
  </div>

</body>
</html>