<!DOCTYPE html>
<html>
<head>
  <title>MindsMesh.com - Collaborate with your classmates</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag asset_path('logo.png'), :type => 'image/png' %>

  <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
  <div id="header-bg">
  </div>
  <div class="wrap clear">
    
    <header>
      <div id="header-logo">
      </div>
      <%= link_to '', '/', id: 'logo' %>
      <ul class="nav nav-pills">
        <%= li link_to("JOIN UNCC", home_user_path, class: 'pill'),
            {class: 'active'} if
            current_user.entity_users.size<2 %>
        <%= li link_to("HOME", root_path, class: 'pill') %>

        <% if current_user %>
          <%#= link_to "Home",           root_path           if current_user.client? %>
          <%#= link_to "Home Moderator", home_moderator_path if current_user.moderator? %>
          <%#= link_to "Home Manager",   home_manager_path   if current_user.manager? %>
          <%#= link_to "Home Admin",     home_admin_path     if current_user.admin? %>
          <%#= link_to "Home Master",    home_master_path    if current_user.master? %>
          <%= render 'notifications/dropdown' %>
          <li class="dropdown">
            <a class="pill dropdown-toggle" data-toggle="dropdown" href="#">
              MY ACCOUNT
              <i class="icon-caret-down"></i>
            </a>
            <ul class="dropdown-menu">
              <li>
                <%= link_to current_user do %>
                  <div class="profile">
                    <div class="circle">
                      <%= image_tag current_user.photo_url, width: 40, alt: '' %>
                    </div>
                    <b><%= current_user.name %></b>
                    <small>Go to my profile page</small>
                    <div class='clear'>
                    </div>
                  </div>
                <% end %>
              </li>
              <li class="divider"></li>
              <%= li link_to icon_text('signout', "Sign Out"), session_logout_path %>
            </ul>
          </li>

        <% end %>
      </ul>
    </header>

    <%= "<div class='alert alert-success'><a class='close' data-dismiss='alert' href='#'>×</a><b>#{notice}</b></div>".html_safe if notice %>
    <%= "<div class='alert alert-error'><a class='close' data-dismiss='alert' href='#'>×</a><b>#{alert}</b></div>".html_safe   if alert %>

    <%#= yield(:pageheader) %>

    <% if content_for? :full %>
      <%= yield :full %>
    <% else %>

    <div id="main">
      <%= yield %>
    </div>
    
    <div id="sidebar">
      <% if false %>
      <section class="block">
        <input type="text" name="search" />
      </section>
      <% end %>
      <%= yield(:sidebar) %>
    </div>
    <% end %>

    <%= render '/footer' %>
  </div>

</body>
</html>