<!DOCTYPE html>
<html>
<head>
  <title>MindsMesh.com - Collaborate with your classmates</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>


  <div class="wrap clear">
    <header>
      <a href="/" title="Logo">
        <%= image_tag 'template1/logo.png' %>
      </a>
      <div class="menu">
        <% if current_user %>
        <%= link_to "Home Guest",     home_guest_path     if current_user.guest? %>
        <%= link_to "Home User",      home_user_path      if current_user.user? %>
        <%= link_to "Home Moderator", home_moderator_path if current_user.moderator? %>
        <%= link_to "Home Manager",   home_teacher_path   if current_user.manager? %>
        <%= link_to "Home Admin",     home_admin_path     if current_user.admin? %>
        <%= link_to "Home Master",    home_master_path    if current_user.master? %>
        <% end %>
        <% if current_user %>
        <div class="user">
          <div class="image">
            <%= image_tag current_user.photo_url, width: 50, alt: '' %>
          </div>
          <%= current_user.name %>
          <ul>
            <li><%= link_to "Log out", session_logout_path %></li>
          </ul>
        </div>
        <% end %>
      </div>
    </header>

    <%= "<div class='alert alert-success'><a class='close' data-dismiss='alert' href='#'>×</a><b>#{notice}</b></div>".html_safe if notice %>
    <%= "<div class='alert alert-error'><a class='close' data-dismiss='alert' href='#'>×</a><b>#{alert}</b></div>".html_safe   if alert %>

    <%= yield(:pageheader) %>

    <div id="main">
      <%= yield %>
    </div>
    
    <div id="sidebar">
      <% if false %>
      <section class="block">
        <input type="text" name="search" />
      </section>
      <% end %>
      <%= yield(:sidebar) %>
    </div>

    <footer>
      <div class="inner">
        <a href="#" title="">Random</a>
        <a href="#" title="">Items</a>
        <a href="#" title="">Such As</a>
        <a href="#" title="">FAQ</a>
        <a href="#" title="">Terms of Service</a>
        <a href="#" title="">Advertisng</a>

        <span class="info">Copyright Lyrne 2012</span>
      </div>
    </footer>
  </div>

</body>
</html>