<!DOCTYPE html>
<html
  xmlns:fb="https://www.facebook.com/2008/fbml">
<head>
  <title>MindsMesh.com - Collaborate with your classmates</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag '/favicon.ico' %>

  <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body class="header_small">
  <div id="fb-root"></div>

  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">

        <% if current_user %>
        <ul class="nav">
          <li><a id="logo" href="/"><%= image_tag('template2/header_small.png') %></a></li>
          <%= render '/notifications/dropdown' %>
        </ul>
        <% end %>

        <ul class="nav pull-right">
          <li><a href="/"><i class="icon-home"></i> Home</a></li>
          <%= render '/my_account_dropdown' if current_user %>
        </ul>

      </div>
    </div>
  </div>

  <div class="container">
    
    <%= "<div class='alert alert-success'><a class='close' data-dismiss='alert' href='#'>×</a><b>#{notice}</b></div>".html_safe if notice %>
    <%= "<div class='alert alert-error'><a class='close' data-dismiss='alert' href='#'>×</a><b>#{alert}</b></div>".html_safe   if alert %>

    <table id="tablecontent" cellpadding="0">
      <tr>
        <td id="main">
          <%= yield %>
          <div class="clear">
          </div>
        </td>
        <% if action_includes_sidebar_right? %>
        <td class="sidebar" id="sidebar_right">
          <%#= render '/home/feedback' if (current_user.posts.size+current_user.replies.size) > 2 %>
          <%= render '/topics/new_topic' %>
        </td>
        <% end %>
      </tr>
    </table>

    <%= render '/footer' %>
  </div>

  <%= render '/fb_invites' %>

</body>
</html>